.table {
	/*basic*/
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	/*font*/
	font-family: Times New Roman;
	font-size: 20px;
	color: black;
	font-weight:bold;
	text-align: left;
	padding: 70px 0;
	/*border*/
	border-color: black;
	border: 2px;
	border-collapse: collapse;
}

.tr{
	height: 200px;
}

/*Blue Highlight Cell*/
.BHC {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: white;
	background-color:blue;
	border-color: white;
}

/*Image Cell*/
.Img {
	text-align: center;
	border-color: white;
}

/*Label Title Cell*/
.LT {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	border-color: black;
	border-top: 4px solid;
	border-bottom: 4px solid;
	border-left: 2px solid;
	border-right: 2px solid;
	background-color: rgb(193, 202, 225);
}

/*Title Cell*/
.T {
	font-size: 14px;
	border-color: black;
	border-top: 4px solid;
	border-bottom: 4px solid;
	border-left: 2px solid;
	border-right: 2px solid;
	background-color: rgb(222, 227, 208);
	font-weight: bold;
}

/*Subtitle Cell*/
.ST {
	text-align: center;
	border: 2px solid black;
}

/*Item Cell*/
.I {
	text-align: center;
	border: 2px solid black;
}

/*Value Cell*/
.V {
	border-color: black;
	border: 2px solid black;
	text-align: center;
}

/*Value Paragraph Cell*/
.VP {
	border: 2px solid black;
}
