.table {
	/*basic*/
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	/*font*/
	font-family: Times New Roman;
	font-size: 12px;
	color: black;
	font-weight:normal;
	text-align: left;
	padding: 70px 0;
	/*border*/
	border-color: black;
	border: 2px;
	border-collapse: collapse;
}

/*Title Cell*/
.T {
	font-size: 14px;
	border-color: black;
	border-top: 4px solid;
	border-bottom: 4px solid;
	border-left: 2px solid;
	border-right: 2px solid;
	background-color: lightgrey;
	font-weight: bold;
}

/*Auxiliary Title Cell*/
.AT {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	border-color: black;
	border-top: 4px solid;
	border-bottom: 4px solid;
	border-left: 2px solid;
	border-right: 2px solid;
	background-color: lightgrey;
}

/*Subtitle Cell*/
.ST {
	text-align: center;
	border: 2px solid black;
}

/*Item Cell*/
.I {
	border: 2px solid black;
}

/*Value Cell*/
.V {
	border-color: black;
	border: 2px solid black;
	text-align: center;
}

/*Value Paragraph Cell*/
.VP {
	border: 2px solid black;
}

/*FootNote Cell*/
.FN {
	border: none;
}

/*Network and Cloud Integration (Image) Cell*/
.NCI {
	border: 2px solid black;
}

/*Arbin Logo (Image) Cell*/
.AL {
	border: none;
}

/*Document Title Cell*/
.DT {
	font-family: Century Gothic;
	color: rgb(0, 112, 192);
	font-size: 40px;
	font-weight: bold;
	text-align: right;
}

/*Arbin Address Cell*/
.AA {
	font-family: Arial;
	font-size: 14px;
	font-style: italic;
}

/*Information Item Cell*/
.II {
	font-family: Arial;
	font-size: 14px;
}

/*Item Value Cell*/
.IV {
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
}
